* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.logo_container {
  width: 100%;
  text-align: center;
  margin: 10px;
}

.main_logo_info {
  height: 100px;
  margin: 10px;
}

.card {
  width: 28rem;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}

.card-img-top {
  width: 170px;
}

.btn-success {
  margin: 10px;
}

.btn-success:hover {
    background-color: white;
    color: orangered;
    border: 1px solid green;
}

.btn-secondary {
  margin: 10px;
}

.btn-secondary:hover {
    background-color: white;
    color: orangered;
    border: 1px solid grey;
}
