
.logo_container  {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.main_logo {
    height: 150px;
    margin: 10px;
}

h2 {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.card-deck {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Pokemon {
  width: 20vw;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 10px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
 color: orangered;
}

