* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.logo_container {
  width: 100%;
  text-align: center;
  margin: 10px;
}

.main_logo_info {
  height: 100px;
  margin: 10px;
}

.card {
  width: 28rem;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  /* margin: 0 auto; */
}

.card-img-top {
  width: 170px;
}

.btn-success {
  margin: 10px;
}

.btn-success:hover {
  background-color: white;
  color: orangered;
  border: 1px solid green;
}

.btn-secondary {
  margin: 10px;
}

.btn-secondary:hover {
  background-color: white;
  color: orangered;
  border: 1px solid grey;
}

.PokemonInfo-container {
  height: 100vh;
  padding-bottom: 70%;
}

.PokemonInfo-pokemon-name {
  font-size: 2em;
}

.PokemonInfo-pokemon-img {
  height: 150px;
  object-fit: contain;
}

.PokemonInfo-pokemon-type {
  margin-bottom: 7%;
}

.Pokemon-info-modal .modal-content {
  background-color: #dddddd;
}

.Pokemon-info-input {
  min-width: 250px;
  padding-left: 3%;
}

.PokemonInfo-bold {
  font-weight: bold;
}

@media only screen and (max-width: 1300px) {
  .PokemonInfo-container {
    height: 100%;
  }
  .text-center {
    max-width: 350px;
  }
}
